<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ae.sinxiao.android.qrd">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".ScanQrdActivity" />
        <activity android:name="ae.sinxiao.android.selectimage.ImageSelectorActivity">

        </activity>
    </application>
</manifest>
